@use "../../assets/scss/utilities" as *;
.input {
  @include small1;
  height: 52px;
  background: $background-bg3;
  color: $typography-text1;
  border: 1px solid $background-bg1;
  border-radius: 8px;
  outline: none;
  padding-left: 10px;
  &:hover {
    border: 1px solid $typography-text1;
  }
  &:focus {
    border: 2px solid $Primary-green;
  }
  &.success {
    background: $transparent-soft-green;
    border: 2px solid $system-success;
  }
  &.error {
    background: $transparent-soft-pink;
    border: 2px solid $system-danger;
  }
  &.warning {
    background: $transparent-soft-yellow;
    border: 2px solid $system-warning;
  }
}

.show-password {
  margin-top: -49px;
  margin-left: 87%;
  padding-bottom: 15px;
  @include small1;
  color: #8c94a4;
  cursor: pointer;
}
