/*------ colors --------*/

// Primary Colors
$Primary-green: #077777;
$Primary-pink: #ef8e91;
$Primary-yellow: #f3af3d;
$Primary-purple: #9f7aee;

//Transparent Primary Colors
$transparent-soft-green: #cde4e4;
$transparent-soft-pink: #fce8e9;
$transparent-soft-yellow: #feeece;
$transparent-soft-purple: #ece4fc;

//System Colors
$system-success: #57b97e;
$system-danger: #ec6240;
$system-warning: #ffc200;
$system-info: #3087e9;

//Transparent System Colors
$transparent-system-success: #e1f4e8;
$transparent-system-danger: #fbe0d9;
$transparent-system-warning: #fff3cc;
$transparent-system-info: #d6e7fb;

//Typography Colors
$typography-text1: #343b4a;
$typography-text2: #ffffff;
$typography-text3: #8c94a4;
$typography-text4: #b1b7c2;

//Backgr Colors
$background-bg1: #c2c7cf;
$background-bg2: #f4f4f6;
$background-bg3: #ffffff;
$background-bg4: #f9fafb;
