/*------ colors --------*/

// Primary Colors
$Primary-green:#077777;
$Primary-pink:#EF8E91;
$Primary-yellow:#F3AF3D;
$Primary-purple:#9F7AEE;

//Transparent Primary Colors
$transparent-soft-green:#CDE4E4;
$transparent-soft-pink:#FCE8E9;
$transparent-soft-yellow:#FEEECE;
$transparent-soft-purple:#ECE4FC;

//System Colors
$system-success:#57B97E;
$system-danger:#EC6240;
$system-warning:#FFC200;
$system-info:#3087E9;

//Transparent System Colors
$transparent-system-success:#E1F4E8;
$transparent-system-danger:#FBE0D9;
$transparent-system-warning:#FFF3CC;
$transparent-system-info:#D6E7FB;

//Typography Colors
$typography-text1:#343B4A;
$typography-text2:#FFFFFF;
$typography-text3:#8C94A4;
$typography-text4:#B1B7C2;

//Backgr Colors
$background-bg1:#C2C7CF;
$background-bg2:#F4F4F6;
$background-bg3:#FFFFFF;
$background-bg4:#F9FAFB;
