@use "../../assets/scss/utilities" as *;
.button-login {
  padding: 15px 41px;
  height: 52px;
  background: $Primary-green;
  border-radius: 15px;
  border: none;
  @include small1;
  color: $typography-text2;
  &:hover {
    cursor: pointer;
  }
}
