@use "../../../assets/scss/utilities" as *;
.login-logo {
  width: 35%;
  height: 6%;
  margin: 40px 0 0 40px;
}

.BGrestaurant {
  position: absolute;
  max-width: 536px;
  max-height: 200px;
  right: -15px;
}
.BGrestaurant-home {
  max-width: 500px;
  max-height: 200px;
}

.eyeGlobal {
  width: 30px;
  border: none;
}

.AngleDown {
  fill: $Primary-green;
  cursor: pointer;
}
.logout-link-close {
  fill: $Primary-green;
  cursor: pointer;
}

.sideBar-link-angleDown {
  margin-left: auto;
  margin-right: 25px;
}
.rotate-angleDown {
  transform: rotate(-180deg);
  transition-duration: 0.5s;
}
