@use "../../../assets/scss/utilities" as *;
.login-logo {
  width: 35%;
  height: 6%;
  margin: 40px 0 0 40px;
}

.BGrestaurant {
  position: absolute;
  max-width: 536px;
  max-height: 200px;
  right: -15px;
}

.eyeGlobal {
  width: 30px;
  border: none;
}

.AngleDown {
  fill: $Primary-green;
  cursor: pointer;
}
.logout-link-close {
  fill: $Primary-green;
  cursor: pointer;
}
