@use "../../assets/scss/utilities" as *;
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($typography-text1, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  .ForgotPassword-modal-content {
    max-width: 550px;
    height: 550px;
    background: $background-bg3;
    border-radius: 15px;
    padding: 30px;
  }
  .logOut-modal-content {
    position: absolute;
    top: 80px;
    right: 25px;
    width: 221px;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    cursor: pointer;
    padding: 0px 35px 0px 20px;
    .logOut-logo {
      width: 30px;
      height: 25px;
    }
  }

  .notification-modal-content {
    position: absolute;
    top: 65px;
    right: 20px;
    width: 456px;
    height: 85%;
    background: #ffffff;
    border-radius: 20px;
  }
}

@media screen and (max-width: 450px) {
  .modal {
    padding: 0;
    .ForgotPassword-modal-content {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 1089px) {
  .open-sidebar {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .modal {
    .notification-modal-content {
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      background: #ffffff;
      border-radius: 0;
    }
  }
}
