@use "../../../assets/scss/utilities" as *;

.home {
  width: 100%;
  height: 264px;
  background: $Primary-green;
  border-radius: 15px;
  display: flex;
  justify-content: center²;
  padding-left: 36px;
  padding-right: 36px;

  .home-description {
    margin: auto;
    @include heading9;
    color: $typography-text2;

    .home-description-top-res {
      color: $Primary-yellow;
    }
  }
}
.home-search-category {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  color: $typography-text1;
  padding-top: 60px;
  padding-left: 24px;
  padding-bottom: 24px;
  .home-select-city {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .country {
      min-width: 264px;
      padding: 15px 12px;
      border-radius: 8px;
      @include small1;
    }
  }
  .home-open-switch-toggel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .open-title-switch-icon {
      @include small2;
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}

.home-search-info {
  width: 100%;
  background: #ffffff;
  border-radius: 15px;
  @include small1;
  color: $typography-text1;
  margin-bottom: 24px;
  .active {
    @include bold-small1;
    display: flex;
    align-items: center;
    text-align: center;
    color: $Primary-green;
  }
  .home-search-by {
    height: 70px;
    border-bottom: 1px solid #f4f4f6;
    display: flex;
    align-items: center;
    gap: 24px;
    padding-left: 24px;
    cursor: pointer;
  }
  .home-info-search-statistique {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 32px;
    .home-statistique {
      width: 246px;
      height: 170px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding-left: 16px;
      padding-right: 16px;
      &.number-orders {
        background: rgba($color: $transparent-soft-green, $alpha: 0.6);
      }
      &.delivery-time {
        background: rgba($color: $transparent-soft-yellow, $alpha: 0.6);
      }
      &.total-turnover {
        background: rgba($color: $transparent-soft-purple, $alpha: 0.6);
      }
      &.average-amount {
        background: rgba($color: $transparent-soft-pink, $alpha: 0.6);
      }
      > img {
        width: 50px;
        height: 50px;
      }
      span {
        font-weight: 400;
        font-size: 16px;
        color: #343b4a;
      }
      > div {
        display: flex;
        justify-content: space-between;
        > span {
          font-weight: 600;
          font-size: 24px;
          color: #343b4a;
        }
      }
    }
  }
}

.home-cards-info-restaurant-products {
  display: flex;
  .home-card-open-closed-products,
  .home-card-popular-products-week {
    width: 48%;
    height: 414px;
    background: #ffffff;
    border-radius: 15px;
  }
}
