.bg-close-logOut {
  position: absolute;
  top: -54px;
  right: 8px;
  width: 36px;
  height: 36px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: rotate(180deg);
  &:hover {
    width: 37px;
    height: 37px;
    // border: 1px solid #077777;
    background: #f3f1f1;
  }
}
